.main{
    height: 100vh;
    background-image: url("../../assets//bg2.jpg");
    background-size: cover;
    scroll-snap-align: center;
}

.content{
    /* margin-top: 10vh; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 70%;
    width: 70%;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    /* background-color: rgba(17, 25, 40, 0.75); */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: 0.3s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.card:hover{
    box-shadow: 0px 0px 40px 5px rgba(0, 157, 255, 0.25);
}

.textDiv{
    font-size: 44px;
}

.autoType{
    border-left: 4px solid #ffffff;
    padding-left: 10px;
    font-size: 32px;
}

.buttonDiv{
    margin-top: 10%;
}

.pic{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic> img {
    height: 80%;
    width: 80%;
}