.container {
  position: relative;
  /* z-index: 1;  */
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: rgb(250, 250, 241);
  background-color: #212121;
}

/* .home {
  scroll-snap-align: center;
}
.about {
  scroll-snap-align: center;
}
.skills {
  scroll-snap-align: center;
} */
